body{
	background-image:url(background.jpeg);
	background-repeat: no-repeat;
}

a{
	text-decoration: none;
	color: #daa520;
}

a:hover{
	color: white;
	font-style: italic;
}

div{
	margin:auto;
	border: 2px groove #cc0000;
	border-radius: 50px;
	width: 100px;
	height: 25px;
	display: inline-block;
}

#groot{
	margin-top: 300px;
	margin-left: 200px;
	text-align: center;
	font-family: impact;
	background-color: #cc0000;
}

#sl{
	margin-top: 300px;
	margin-left: 200px;
	text-align: center;
	font-family: impact;
	background-color: #cc0000;
}

#gamora{
	margin-top: 300px;
	margin-left: 200px;
	text-align: center;
	font-family: impact;
	background-color: #cc0000;
}

#drax{
	margin-top: 325px;
	margin-left: 200px;
	text-align: center;
	font-family: impact;
	background-color: #cc0000;
}

#rocket{
	margin-left: 350px;
	margin-top: 20px;
	text-align: center;
	font-family: impact;
	background-color: #cc0000;
}

#logo{
	border: none;
	margin-top: 150px;
	margin-right: 300px;
	margin-left: 400px;
}